<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkinstar.pay.dao.ConsumerMqDao">

    <insert id="addConsumerMq" parameterType="com.linkinstar.pay.bean.ConsumerMq">
        INSERT INTO consumer_mq_tab
        (messageId, messageContent, messageStatus)
        VALUE (#{messageId}, #{messageContent}, #{messageStatus})
    </insert>
    
    <update id="updateConsumerMqStatus">
        UPDATE consumer_mq_tab
        SET messageStatus = #{messageStatus}
        WHERE messageId = #{messageId}
    </update>
    
    <select id="queryOrderMqByStatus" resultType="com.linkinstar.pay.bean.ConsumerMq">
        SELECT messageId, messageContent, messageStatus
        FROM consumer_mq_tab
        WHERE messageStatus = 1
        AND addTime <![CDATA[ < ]]> #{curTime}
    </select>
</mapper>