<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkinstar.order.dao.OrderDao">

    <insert id="addOrder" parameterType="com.linkinstar.order.bean.OrderDO">
        INSERT INTO order_tab
          (orderId, messageId, orderContent)
        VALUE 
          (#{orderId}, #{messageId}, #{orderContent})
    </insert>
</mapper>